body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  width: 100vw;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
@media only screen and (min-width: 1000px) {
  body {
    height: 100vh;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-image: url(images/background-light.svg);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: url(images/background-dark.svg);
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  width: 100%;
  max-width: 1000px;
  height: 100%;

  color: #1c1836;
}

header {
  flex-basis: 10%;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}
@media only screen and (min-width: 1000px) {
  header {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

header > img {
  width: 4rem;
  height: 4rem;
}

header > h1 {
  color: #1c1836;
  text-align: center;
  margin-bottom: 0.3rem;
}
@media only screen and (min-width: 1000px) {
  header > h1 {
    text-align: left;
  }
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem;
}
@media only screen and (min-width: 1000px) {
  .content {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.content > .preview {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 500px;
  height: 524px;
}
@media (prefers-color-scheme: light) {
  .content > .preview {
    background-image: url(images/preview-light.png);
  }
}
@media (prefers-color-scheme: dark) {
  .content > .preview {
    background-image: url(images/preview-dark.png);
  }
}

.content > .intro {
  display: flex;
  flex-flow: column nowrap;

  padding-top: 3rem;
}
.content > .intro h2 {
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  .content > .intro h2 {
    text-align: left;
  }
}

.content > .intro p {
  color: #000036;
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  .content > .intro p {
    text-align: left;
  }
}
@media (prefers-color-scheme: light) {
  .content > .intro p {
    color: #000036;
  }
}
@media (prefers-color-scheme: dark) {
  .content > .intro p {
    color: #3b0053;
  }
}

.content > .intro > .download {
  padding-top: 3rem;
  align-self: center;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 1000px) {
  .content > .intro > .download {
    align-self: start;
  }
}

.content > .support {
  text-align: center;
  line-height: 1.5rem;
}

footer {
  color: #000036;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}

footer > nav {
  margin: 0 0 3rem 0;
}
footer > nav > a {
  color: #000036;
  text-decoration: none;
  margin: 0 0.5rem 0 0.5rem;
}
footer > nav > a:hover {
  color: #3b0053;
  text-decoration: none;
}
